<li class="list-group-item">
    <div class="">
        <div class="avatar">
            <div>
                <img src="/UsersContent/${AuthorId}.jpg"
                        alt="${AuthorName}"
                        class="img-responsive photo" />
            </div>
        </div>
    </div>
    <div class="comment-content">
        <div class="comment-author">
            ${AuthorName} <em>${getDate(DateWritten)}</em>
        </div>
        <div class="post">
            ${Message}
        </div>
    </div>
</li>
