<li class="list-group-item">
    <div class="avatar">
        <div>
            <img src="/UsersContent/${AuthorId}.jpg"
                 alt="${AuthorName}"
                 class="img-responsive photo" />
        </div>
    </div>
    <div class="post-content">
        <div class="author">
            ${AuthorName}   {{if DateWritten}}
                                <em>${getDate(DateWritten)}</em>
                            {{/if}}
        </div>
        <div class="post">
            ${Message}
        </div>

        <div class="clearfix"></div>

        <div class="files-section">
            {{if Files}}
            <ul>
                {{each Files}}
                <li class="file-item">
                    <div>
                        {{if canOpenWithGoogle($value.Extention)}}
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {{/if}}
                        <div>
                            <a href="/File/DownloadFile?fileIdentifier=${$value.Identifier}">
                                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                <span class="file-name">${$value.Name} </span>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="comment-section">
        {{if IsHasMore}}
        <input type="button" id="${createInputId('loadMore', Id)}" class="load-more btn btn-default" value="load previous comments" onclick="getComments(${Id})" />
        <div id="${createInputId('loading', Id)}" style="display:none">
            <img src="/UsersContent/loading.gif" alt="loading..." />
        </div>
        {{/if IsHasMore}}
        {{if Comments}}
        <ul class="list-group comments" id=${Id}>
            {{each Comments}}
            <li class="list-group-item">
                <div class="">
                    <div class="avatar">
                        <div>
                            <img src="/UsersContent/${$value.AuthorId}.jpg"
                                 alt="${$value.AuthorName}"
                                 class="img-responsive photo" />
                        </div>
                    </div>
                </div>
                <div class="comment-content">
                    <div class="comment-author">
                        ${$value.AuthorName}    {{if DateWritten}}
                                                    <em>${getDate(DateWritten)}</em>
                                                {{/if}}
                    </div>
                    <div class="post">
                        ${$value.Message}
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
            {{/each}}
        </ul>
        {{/if}}
        <div class="comment">
            <div class="comment-text">
                <textarea id="${createInputId('text', Id)}" class="form-control" required></textarea>
            </div>
            <div class="comment-buttons">
                <input type="button" name="postComment" value="Comment" onclick="postComment(${Id})" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</li>
