@using PagedList.Mvc;
@using EduKeeper.Web.Models;
@using PagedList;
@using EduKeeper.Infrastructure;
@model IPagedList<CourseDTO>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>

@using (Ajax.BeginForm(new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "courses"
                    }))
{
    <div class="model-values">
        <input type="search" id="search" name="searchTerm" class="form-control"/>
        <input type="submit" id="btnSearch" value="Search" class="btn btn-lg btn-default"   />
    </div>
    <div class="navbar-link">
        <a href="@Url.Action("AddCourse")">
            <input class="btn btn-lg btn-primary btn-block" id="addNewCourse" type="button" value="Add new course" />
        </a>
    </div>
}

@Html.Partial("_Courses", Model)
