body {
    font-size: 3em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: azure;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    margin-left: 5px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#userDataFields {
    margin: 20px auto;
}

    #userDataFields td {
        font-size: 25px;
    }

    #userDataFields h1 {
        font-size: 50px;
    }

    #userDataFields .form-control {
        font-size: 25px;
    }

.validation {
    min-height: 20px;
}

.form-control {
    height: 50px;
}

h1, h2, h3 {
    text-align: center;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 60%;
}

.btn {
    margin-top: 20px;
}

td.info {
    text-align: right;
    padding-right: 5px;
}

.table-wrapper {
    margin: 150px auto 0 auto;
    border: double 4px;
}


.picture {
    align-items: initial;
    margin: 2px 0px 0px 5px;
}

    .picture img {
        width: 200px;
        max-height: 500px;
    }

.avatar {
    vertical-align: top;
}

#under-picture {
    max-width: 200px;
    text-align: center;
}

#imguploadproductimage {
    width: 100%;
}

input#pictureToUpdate {
    max-width: 150px;
}

input#rememberMe {
    width: 20%;
}

label.control-label {
    font-size: 20px;
}

input.text-box {
    font-size: 22px;
}

span.text-danger{
    margin-top: 5px;
    font-size: 18px;
}

div.description{
    margin-left: 5px;
}