body {
    font-size: 3em;
    color: #232323;
    background-color: azure;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    margin-left: 5px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-size: 1em;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#userDataFields {
    margin: 20px auto;
}

    #userDataFields h1 {
        font-size: 50px;
    }

    #userDataFields .form-control {
        font-size: 25px;
    }

    #userDataFields input {
        margin: 5px 0px;
    }

.validation {
    min-height: 20px;
}

.form-control {
    height: 50px;
}

h1, h2, h3 {
    text-align: center;
}

td.info {
    text-align: right;
    padding-right: 5px;
}

.table-wrapper {
    margin: 150px auto 0 auto;
    border: double 4px;
}


.picture {
    align-items: initial;
    margin: 2px 0px 0px 5px;
}

    .picture img {
        width: 200px;
        max-height: 500px;
    }

.avatar {
    vertical-align: top;
    height: 100%;
}

@media (max-width: 500px){

}
#under-picture {
    max-width: 200px;
    text-align: center;
}

#imguploadproductimage {
    width: 100%;
}

input#pictureToUpdate {
    max-width: 150px;
}

input#rememberMe {
    width: 20%;
}

label.control-label {
    font-size: 20px;
}

input.text-box {
    font-size: 22px;
}

span.text-danger {
    margin-top: 5px;
    font-size: 18px;
}

div.navbar-link {
    float: left;
}

div.description {
}

#courses tr {
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #d6fbf5;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-corner-all {
    margin-left: 5px;
}

.description {
    float: left;
    margin-right: 50px;
}

.pagination {
    float: left;
    margin: 10px;
}

#courses #coursesTable{
    width: 100%;
    table-layout: fixed;
}

td.title {
    width: 20%;
}

td.description {
    width: 70%;
}

td.action {
    width: 10%;
}

    td.action .btn {
        width: 100%;
    }

#courses#pagedList {
    vertical-align: middle;
    margin: auto;
}

#btnSearch {
    margin: 10px 10px 10px 0px;
    float: left;
}

#addNewCourse {
    align-self: center;
    margin: 10px;
}

.pagedList {
    margin-left: 30%;
}

#courses hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#posts {
}

    #posts .author {
        vertical-align: central;
        font-weight: bold;
        font-size: 0.6em;
    }

    #posts .post {
        font-size: 0.5em;
        min-height: 30px;
    }

    #post .avatar {
        height: 100%;
    }

    #posts .photo {

        max-width: 50px;
    }

#btn-post {
    margin: 5px;
}
