body {
    font-size: 3em;
    color: #232323;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    margin-left: 5px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-size: 1em;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#userDataFields {
    margin: 20px auto;
}

    #userDataFields h1 {
        font-size: 50px;
    }

    #userDataFields .form-control {
        font-size: 25px;
    }

    #userDataFields input {
        margin: 5px 0px;
    }

.validation {
    min-height: 20px;
}

.form-control {
    height: 50px;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 0;
}

td.info {
    text-align: right;
    padding-right: 5px;
}

.table-wrapper {
    margin: 150px auto 0 auto;
    border: double 4px;
}


.picture {
    align-items: initial;
    margin: 2px 0px 0px 5px;
}

    .picture img {
        width: 200px;
        max-height: 500px;
    }

.avatar {
    float: left;
    vertical-align: top;
}

@media (max-width: 500px) {
}

#under-picture {
    max-width: 200px;
    text-align: center;
}

#imguploadproductimage {
    width: 100%;
}

input#pictureToUpdate {
    max-width: 150px;
}

input#rememberMe {
    width: 20%;
}

label.control-label {
    font-size: 20px;
}

input.text-box {
    font-size: 22px;
}

span.text-danger {
    margin-top: 5px;
    font-size: 18px;
}

div.navbar-link {
    float: left;
}

div.description {
}

#courses tr {
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #FDFDFD;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-corner-all {
    margin-left: 5px;
}

.pagination {
    float: left;
    margin: 10px;
}

#courses #coursesTable {
    width: 100%;
    table-layout: fixed;
}

td.title {
    width: 20%;
}

td.description {
    width: 68%;
}

td.action {
    width: 12%;
}

    td.action .btn {
        width: 100%;
    }

#courses#pagedList {
    vertical-align: middle;
    margin: auto;
}

#btnSearch {
    margin: 10px 10px 10px 0px;
    float: left;
}

#addNewCourse {
    align-self: center;
    margin: 10px;
}

.pagedList {
    margin-left: 30%;
}

#courses hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#posts {
}

    #posts .author {
        vertical-align: central;
        font-weight: bold;
        font-size: 0.6em;
    }

    #posts .post {
        font-size: 0.5em;
        min-height: 30px;
        word-wrap: break-word;
    }

#post .avatar {
    height: 100%;
}

#posts .photo {
    max-width: 50px;
    margin: auto;
}

#posts .content {
    float: left;
}

#btn-post {
    margin: 5px 0;
}

li#first-post {
    list-style-type: none;
}

ul.comments {
    margin-bottom: 0;
}

.comments > .list-group-item {
    padding-left: 0;
}

.comment-author {
    vertical-align: central;
    font-size: 0.6em;
}

.comment-author, author {
    font-weight: normal;
    text-align: left;
    font-size: small;
}

.comment input {
    float: left;
    height: 35px;
}

.comment > .text {
    float: left;
    margin-left: 10px;
    width: 68%;
}

.new-post > .form-control {
    height: 100px;
    font-size: 0.5em;
}

textarea {
    resize: none;
}

.text textarea {
    height: 30px;
}

.left-menu-wrap {
    float: left;
    background-color: #FDFDFD;
    border: double 1px;
    width: 250px;
    text-align: center;
    border-color: #5bc0de;
    border-radius: 5px;
}

.user-photo {
    min-height: 50px;
    min-width: 50px;
    max-width: 120px;
    max-height: 120px;
    margin: auto;
    border-radius: 5px;
}

.comment-text {
    padding: 0;
}

.course-list {
    width: 198px;
}


#page_layout {
    width: 1050px;
    margin: 0 auto;
}

.post-section {
    width: 600px;
    float: left;
    margin-top: 20px;
}

.user-info {
    text-align: center;
}

.head-section {
    float: left;
    width: 900px;
    height: 150px;
    background-color: #FDFDFD;
    border: double;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

    .head-section > .title {
        position: absolute;
        bottom: 10px;
        margin-left: 10px;
    }

        .head-section > .title h1 {
            margin: 0;
        }

    .head-section > .join-button {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

.option-section {
    float: left;
    width: 250px;
    height: 300px;
    background-color: #FDFDFD;
    border: double;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
}



.content-menu-wrap {
    float: left;
    width: 800px;
}

.post-content, .comment-content {
    margin-left: 60px;
}

.comment-buttons {
    margin-top: 5px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    background: #FDFDFD;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: initial;
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

#sidebar-wrapper {
    color: #000;
}

.sidebar-nav {
    top: 0;
    width: 247px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav img {
        max-width: 50px;
    }

    .sidebar-nav > .sidebar-brand {
        text-align: left;
        height: 35px;
        font-size: 18px;
        line-height: 40px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #000;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 250px;
    }

        #sidebar-wrapper hr {
            padding: 0;
            border: none;
            border-bottom: medium double #AFAFAF;
            color: #333;
            text-align: center;
        }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

hr {
    margin: 2px 0;
}

#sidebar-wrapper {
    padding: 0;
    border: none;
    color: #333;
    text-align: center;
    border-right-style: ridge;
}

.logo {
    height: 70px;
}

.main-content {
    min-width: 900px;
    margin-left: 30px;
}

.comment-section {
    margin-left: 60px;
}

.comment-section .load-more{
    width: 100%;
}